{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/submit.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
    <h1 class="text-center" style="margin-bottom: 30px">Edit category (ID: {{ category.id }})</h1>
    <div class="container" style="max-width: 50%">
        {{ form(category_form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="text-center">
            {% if category.image %} <img src="{{ asset(category.image|replace({'http://localhost:8000/': ''})) }}" alt="Image" style="max-width: 400px">
            {% else %} <img src="{{ asset('img/no-image-available-dsadasdas.jpg') }}" alt="No-image" style="max-width: 400px">
            {% endif %}
        </div>
    </div>
{% endblock %}