{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Callback {{ callback.id }}</h1>
    <p>Name: {{ callback.name }}</p>
    <p>Phone: {{ callback.phone }}</p>
    <p>Message: {{ callback.message }}</p>
    <p>Active: {{ callback.active }}</p>
{% endblock %}
