{% extends 'layout.html.twig' %}

{% block main %}
    <h1 class="text-center">Tag list</h1>
    <div class="container" style="margin: 0 auto; max-width: 50%">
        <div class="d-flex justify-content-between" style="margin-top: 20px">
            <form action="{{ path('tag_list') }}" method="get" class="align-self-center form-inline">
                <input type="text" name="filter_tag" placeholder="Search by name" class="form-control">
                <button type="submit" class="btn btn-default" style="margin-left: 5px">Search</button>
            </form>
            <a href="{{ path('tag_add') }}">
                <button class="btn btn-lg btn-success" style="padding: 20px 50px">Add new tag</button>
            </a>
        </div>
        <div class="table-responsive text-center"  style="margin-top: 20px">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(tags, 'ID', 'bp.id') }}</th>
                        <th>{{ knp_pagination_sortable(tags, 'Name', 'bp.name') }}</th>
                        <th>Controls</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in tags %}
                        <tr>
                            <td style="width: 20%">{{ tag.id }}</td>
                            <td style="width: 50%">{{ tag.name }}</td>
                            <td>
                                <a href="{{ path('tag_edit', { id: tag.id }) }}">
                                    <button class="btn btn-sm btn-primary">Edit</button>
                                </a>
                                <button class="btn btn-sm btn-danger delete-items" id="del_{{ tag.id }}">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination pagination-lg justify-content-center" style="margin: 50px 0" id="pagination">
        <p id="rowcount">{{ knp_pagination_render(tags) }}</p>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/delete/tag.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/pagination.js') }}"></script>
{% endblock %}